
    ::-webkit-scrollbar {
            width: 8px;
            cursor: pointer !important
        }
    
        /* Track */
        ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }
    
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #363636;
            border-radius: 10px;
        }
    
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(54, 54, 54, 0.5);
          
        }
