.cardHover{
    position :relative;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
   
}

.cardHover:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.hoverMovie{
background-color: rgba(0,0,0,0.8);
height: 250px;
position: absolute;
top: -1px;
left: 0;
width: 100%;
opacity: 0;
transition: all 0.3s linear;
display: flex;
align-items: center;
justify-content: center;
}
.cardHover:hover .hoverMovie{
    opacity: 1;
}
.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle:before,
.circle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}


.circle:before {
    animation: ripple 2s linear infinite;
}

.circle:after {
    animation: ripple 2s linear 1s infinite;
}

@keyframes ripple {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
        opacity: 1;
    }

    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}

/* Text */
.text {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .cardHover{
        width:300px !important;
        margin : 0 20px
    }
}
  .trailer {
      width: 100% !important;
  }
